@model EnvApp.Models.DB.NR_User

@{
    ViewData["Title"] = "Create";
}

<h1>Create New User</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Email Address</label>
                <input asp-for="Email_Address" class="form-control" type="email" />
                <span asp-validation-for="Email_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section" class="control-label"></label>
                <input asp-for="Section" class="form-control" />
                <span asp-validation-for="Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>User Type</label>
                <select asp-for="User_Type" name="User_Type" class="form-control" asp-items="@ViewBag.userTypes"></select>
                <span asp-validation-for="User_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>AD Number</label>
                <input asp-for="AD_Number" class="form-control" />
                <span asp-validation-for="AD_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
