@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Environmental Logistic Clearance & Compliance</p>
    <img src="~/Assets/elcc.png" alt="Elcc" style="height: 60vh; margin-bottom: -10px; padding-bottom: -10px" />
</div>
